
.*.swp
*~
/Debug
/DebugFast
/Release
/ipch
/x64
/Win32
/horus_eye

/Makefile

!/CMakeLists.txt
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake

*.suo
*.sdf
*.vsp
*.pyc
*.opensdf
*.vsps
*.vcxproj
*.filters
*.user
*.sln

/include
settings.bin
settings.ini

/Default
/bin
/tmp
/*.dll
